<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tco_acm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tco"
        android:label="TCO"
        android:roundIcon="@drawable/tco"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginPage"
            android:label="TCO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register1"
            android:label="Register" />
        <activity android:name=".RegisterStudent"
            android:label="Learner Registration"/>
        <activity android:name=".RegisterTrainer"
            android:label="Trainer Registeration"></activity>
    </application>

</manifest>